<!DOCTYPE html>
<html>
  <head>
    <title>Todoアプリ</title>
    <link rel="stylesheet" href="styles.css"/>
    
  </head>
  <body>
    <div id="app">
      <form-item v-bind:item="newItem"></form-item>
        <!--未完了のリスト-->
        <todo-item 
          v-for="(item, index) in items" 
          v-bind="item" 
          v-if="!item.state"
        ></todo-item>
        <!--完了のリスト-->
        <todo-item 
          v-for="(item, index) in items" 
          v-bind="item" 
          v-if="item.state"
        ></todo-item>


        <!-- <pre>{{$data}}</pre> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>