<!DOCTYPE html>
<html>
  <head>
    <title>Todoアプリ</title>
    <link rel="stylesheet" href="styles.css"/>
    
  </head>
  <body>
    <div id="app">
      <!-- <form v-on:submit.prevent>
        <input type="text" v-model="newItem"/>
        <button v-on:click="addItem">Add</button>    
      </form> -->
      <todo-items v-for="(item, index) in items" v-bind="item" v-on:input="app.$emit('input', !item.state)"></todo-items>
      <pre>{{$data}}</pre>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>